
.right { position: absolute; top: 1em; right: 2em; }

body {
    font-size: 20px;
    font-family: verdana;
}

#pages {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#pages .page {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#pages .page .header,
#pages .page .content,
#pages .page .footer {
    position: absolute;
    overflow: hidden;
    left: 0.5em;
    right: 0.5em;
    z-index: 3;
    background: #333333;
    border-radius: 0.5em;
    border: 0.1em solid #000000;
}

#pages .page .header,
#pages .page .footer {
    line-height: 1em;
    padding: 1em 1em 0;
    height: 2em;
}

#pages .page .header { top: 0.5em; }
#pages .page .footer { bottom: 0.5em; color: #888888; }
#pages .page .content { top: 4.5em; bottom: 4.5em; padding: 1em; }

#pages .page .header span,
#pages .page .header a span {
    display: block;
    color: #fff;
    font-weight: bold;
}

#pages .page .content a {
    display: inline-block;

    padding: 1em;

    text-align: center;
    line-height: 0.8em;

    background: rgba(255, 255, 255, 0.8);
    transition: background 0.1s;

    border-radius: 0.25em;
    border-top: 0.02em solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.02em solid rgba(0, 0, 0, 0.2);

    color: #000;
}
#pages .page .content a:hover {
    background: rgba(255, 255, 255, 1);
}

/**********************************\
* ANIMATIONS
\**********************************/

/* for default page animation */
.page {
    transform: translate3d(0, 0, 0);
    will-change: transform;
}




/* custom header animations */

#pages .header,
#pages .footer,
#pages .content {
    will-change: transform;
}

#pages .page.opening .header {
    transform: translateZ(0) translateY(-3.5em);
}

#pages .page.opened .header {
    transform: translateZ(0) translateY(0);
    transition: transform 0.25s ease-out 0.25s;
}
#pages .page.opened.first .header {
    transition: transform 0.5s ease-out;
}

#pages .page.closing .header {
    transform: translateZ(0) translateY(0);
}

#pages .page.closed .header {
    transform: translateZ(0) translateY(-3.5em);
    transition: transform 0.25s ease-out;
}




/* custom footer animations */

#pages .page.opening .footer {
    transform: translateZ(0) translateY(3.5em);
}

#pages .page.opened .footer {
    transform: translateZ(0) translateY(0);
    transition: transform 0.25s ease-out 0.25s;
}
#pages .page.opened.first .footer {
    transition: transform 0.5s ease-out;
}

#pages .page.closing .footer {
    transform: translateZ(0) translateY(0);
}

#pages .page.closed .footer {
    transform: translateZ(0) translateY(3.5em);
    transition: transform 0.25s ease-out;
}




/* custom content animations */

#pages .page.opening .content {
    z-index: 2;
    opacity: 0;
}
#pages .page.opening.forward .content,
#pages .page.opening.first .content {
    transform: translateZ(0) translateX(100%);
}
#pages .page.opening.backward .content {
    transform: translateZ(0) translateX(-100%);
}

#pages .page.opened .content {
    transform: translateZ(0) translateX(0);
    transition: transform 0.5s ease-out, opacity 0.5s;
    z-index: 2;
    opacity: 1;
}
#pages .page.closing .content {
    transform: translateZ(0) translateX(0);
    z-index: 1;
    opacity: 1;
}
#pages .page.closed .content {
    transition: transform 0.5s ease-out, opacity 0.5s;
    z-index: 1;
    opacity: 0;
}
#pages .page.closed.forward .content {
    transform: translateZ(0) translateX(-100%);
}
#pages .page.closed.backward .content {
    transform: translateZ(0) translateX(100%);
}




